/*CSS Styles*/

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
  width: 77%;
  float: right;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 20px;
  padding: 10px;
  margin: 0px auto;
  background-color:#2E2D2D;
  color: white;
  text-align: center;
}

a{
  text-decoration: none;
  color: #2E2D2D;
}



#side-bar {
  height: 100%;
  width: 23%;
  float: left;
  background-color: #white;
  font-family: century gothic, century, serif;
  overflow: scroll;
}
::-webkit-scrollbar {
width: 12px;
}
::-webkit-scrollbar-track {
border: 1px solid #white;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #5F6060;
border-radius: 10px;
}

#side-bar ul{
  font-size: 13px;
  font-family: century gothic, century, serif;
}

#side-bar li{
  display: block;
  padding: 10px 30px;
  margin-left: -40px;
  margin-bottom:2px;
}

#side-bar li.clicked, li:hover {
  padding: 5% 47%;
  background: #F2F4F4;
}

#side-bar img{
  display: block;
  margin: 10px auto;
  width: 45%;
  padding-bottom: 10px;
}

#side-bar li img{
  width: 9%;
  float: left;
  margin-right: 20px;
}

#side-bar h2{
  font-size: 16px;
  padding: 10px;
  margin: 0px auto;
  background-color:#2E2D2D;
  color: white;
  text-align: center;
}

#side-bar p{
  padding: 0px 30px;
}

/* chk-btn CSS from
http://stackoverflow.com/questions/30100978/how-to-make-a-check-button-hidden-checkbox-with-label-as-a-button-css-only
*/

.single input.chk-btn + label:active, .single input.chk-btn:checked + label{
  padding: 5% 43% 5% 5%;
}
.multi input.chk-btn + label:active, .multi input.chk-btn:checked + label{
  padding: 5% 46% 5% 5%;
}
.condo input.chk-btn + label:active, .condo input.chk-btn:checked + label{
  padding: 5% 29% 5% 3%;
}
.retail input.chk-btn + label:active, .retail input.chk-btn:checked + label{
  padding: 7% 65% 5% 5% ;
}
.office input.chk-btn + label:active, .office input.chk-btn:checked + label{
  padding: 7% 63% 5% 5%;
}
.former input.chk-btn + label:active, .former input.chk-btn:checked + label{
  padding: 7% 60% 5% 5%;
}

input.chk-btn {
  display: none;
}
input.chk-btn + label {
  padding: 5px 20px;
  cursor: pointer;
}

input.chk-btn + label:active,
input.chk-btn:checked + label,
input.chk-btn:not(:checked) + label:hover {
  background: #F2F4F4;
}

#overlays li{
  padding: 5px 40px;
  cursor: pointer;
}

#update form{
  font-size:16px;
  padding-left:30px;
  margin: 30px auto;
}

#update form h2{
  font-size:15px;
}
#update form input{
  margin-top:3px;
  margin-bottom:5px;
  margin-right:5px;
  padding:3px;
}

#update form select{
  margin-top:3px;
  margin-bottom:5px;
  margin-right:5px;
  padding:3px;
}
#update form select.property{
  padding-right: 43px;
}
#update form select.building{
  padding-right: 77px;
}

input[type=submit] {
  width: 10%;
  background-color: #5F6060;
  color: white;
  padding: 15px 20px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:11px;
}

input[type=submit]:hover {
  background-color: #2E2D2D;
}

::placeholder {
  color: #BBB;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #BBB;
}
#UPDATE{
  margin-left:-40px;
  padding-left:15%;
  font-size:14px;
}
#update i {
  border: solid white;
  color: white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin-right: 4px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#copyright {
  padding-top:30px;
  position:bottom;
  font-size: 8px;
  font-family: times, serif;
}

.map-control {
        background-color: #white;
        border:none;
        font-family:century gothic, century, serif;
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
  /* Display the control once it is inside the map. */
#map .map-control {
  display: block;
}

.selector-control {
  font-size: 13px;
  line-height: 33px;
  padding: 7px 7px;
  outline:none;
}
