/*CSS Styles*/

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 120%;
  width: 78%;
  float: right;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#side-bar {
  height: 100%;
  width: 22%;
  float: left;
  background-color: #white;
  font-family: century gothic, century, serif;
  overflow: scroll;
}

#side-bar ul{
  font-size: 13px;
  font-family: century gothic, century, serif;
}

#side-bar li{
  display: block;
  padding: 10px 30px;
  margin-left: -40px;
  margin-bottom:2px;
}

#side-bar li.clicked, li:hover {
  padding: 5% 47%;
  background: #F2F4F4;
}

#side-bar img{
  display: block;
  margin: 10px auto;
  width: 45%;
  padding-bottom: 10px;
}

#side-bar li img{
  width: 9%;
  float: left;
  margin-right: 20px;
}

#side-bar h2{
  font-size: 16px;
  padding: 10px;
  margin: 0px auto;
  background-color:#2E2D2D;
  color: white;
  text-align: center;
}

#side-bar p{
  padding: 0px 30px;
}

/* chk-btn CSS from
http://stackoverflow.com/questions/30100978/how-to-make-a-check-button-hidden-checkbox-with-label-as-a-button-css-only
*/

.single input.chk-btn + label:active, .single input.chk-btn:checked + label{
  padding: 5% 43% 5% 5%;
}
.multi input.chk-btn + label:active, .multi input.chk-btn:checked + label{
  padding: 5% 46% 5% 5%;
}
.condo input.chk-btn + label:active, .condo input.chk-btn:checked + label{
  padding: 5% 29% 5% 3%;
}
.retail input.chk-btn + label:active, .retail input.chk-btn:checked + label{
  padding: 7% 65% 5% 5% ;
}
.office input.chk-btn + label:active, .office input.chk-btn:checked + label{
  padding: 7% 63% 5% 5%;
}
.former input.chk-btn + label:active, .former input.chk-btn:checked + label{
  padding: 7% 60% 5% 5%;
}

input.chk-btn {
  display: none;
}
input.chk-btn + label {
  padding: 5px 20px;
  cursor: pointer;
}


input.chk-btn + label:active,
input.chk-btn:checked + label,
input.chk-btn:not(:checked) + label:hover {
  background: #F2F4F4;
}

#overlays li{
  padding: 5px 40px;
}

#copyright {

  padding-top:10px;
  position:bottom;
  font-size: 8px;
  font-family: times, serif;
}

.map-control {
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
        font-family: 'Roboto','sans-serif';
        margin: 10px;
        /* Hide the control initially, to prevent it from appearing
           before the map loads. */
        display: none;
      }
      /* Display the control once it is inside the map. */
      #map .map-control { display: block; }

      .selector-control {
        font-size: 14px;
        line-height: 30px;
        padding-left: 5px;
        padding-right: 5px;
      }
