/*CSS Styles*/

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
  width: 80%;
  float: right;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#side-bar {
  height: 100%;
  width: 20%;
  float: left;
  background-color: white;
  font-family: century gothic, century, serif;
}

#side-bar ul{
  font-size: 12px;
  font-family: century gothic, century, serif;
}

#side-bar li{
  text-align:center;
  display: block;
  margin: 5px auto;

}

#side-bar img{
  display: block;
  margin: 10px auto;
  width: 50%;
}

#side-bar li img{
  width: 7%;
  float: left;

}

#side-bar h2{
  font-size: 16px;
  padding: 10px;
  margin: 5px auto;
  background-color:#2E2D2D;
  color: white;
  text-align: center;
}

#side-bar li select{
  padding: .4em 1.5em .4em .9em;
  border: 1px solid #ccc;
  margin-top: 3%;

}
